[Desktop Entry]
Version=1.0
Type=Application
Name=wifi-killer
Comment=Aggressive Wi-Fi deauthentication tool
Exec=pkexec /usr/bin/python3 /opt/wi-fi-enforcer/enforcer.py
Icon=wi-fi-enforcer
Terminal=true
Categories=Network;Security;
StartupNotify=true
